@model IEnumerable<TotalWellness.Models.PostListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                @Html.ActionLink("View Post", "Details", new { id = item.PostId }, new { @class = "btn btn-info btn-large" })
                @*@Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "btn btn-info btn-large" })
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "btn btn-info btn-large" })*@
                @Html.ActionLink("View Comments", "Index", "Comment", new { id = item.PostId }, new { @class = "btn btn-info btn-large" })


            </td>
        </tr>
    }

</table>