@model TotalWellness.Models.CommentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.CommentId, new { id = "CommentId"})
        </dt>

        <dd>
            @Html.HiddenFor(model => model.CommentId, new { id = "CommentId" })
        </dd>

        <dt>
            @Html.HiddenFor(model => model.PostId, new { id = "PostId" })
        </dt>

        <dd>
            @Html.HiddenFor(model => model.PostId, new { id = "PostId" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentId }, new { @class = "btn btn-info btn-large" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.CommentId }, new { @class = "btn btn-info btn-large" })
    @Html.ActionLink("Back To List", "Index", new { id = Model.PostId }, new { @class = "btn btn-info btn-large" })
</p>
