@model TotalWellness.Models.TeamDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Team Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Create Post", "Create", "Post", null, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("View Posts", "Index", "Post", null, new{ @class = "btn btn-primary btn-large" })
</p>

